trigger:
  - master

pool:
  vmImage: "ubuntu-latest"

variables:
  imageName: "FE"
  acrName: "rosetta"

steps:
  - task: Docker@2
    displayName: Build an image
    inputs:
      repository: $(imageName)
      command: build
      Dockerfile: Dockerfile
      tags: |
        $(Build.BuildId)
        latest

  - task: AzureCLI@2
    displayName: "Login to ACR and Push Image"
    inputs:
      azureSubscription: "076663e1-eb60-4e0e-8a07-45dc414dffd0"
      scriptType: "bash"
      scriptLocation: "inlineScript"
      inlineScript: |

        az acr login --name $(acrName)

        docker tag $(imageName):$(Build.BuildId) $(acrName).azurecr.io/$(imageName):$(Build.BuildId)
        docker tag $(imageName):latest $(acrName).azurecr.io/$(imageName):latest

        docker push $(acrName).azurecr.io/$(imageName):$(Build.BuildId)
        docker push $(acrName).azurecr.io/$(imageName):latest
