
services:
  rosetta-be:
    build: .
    ports:
      - "3000:8080"
    environment:
      PG_DB_URL: ${PG_DB_URL}
    depends_on:
      - db
    networks:
      - rosetta-net

  db:
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - rosetta-net

networks:
  rosetta-net:
    driver: bridge

volumes:
  db-data:
