@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@config "../tailwind.config.js";

@font-face {
  font-family: 'Manrope';
  src: url('/public/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 800;
  font-style: normal;
}

@layer base {
  :root {
    /* Colors 2025 */
    --primitives-permanent-white-100: #ffffff;
    --primitives-permanent-white-70: #ffffff80;
    --primitives-permanent-black-100: #000000;
    --primitives-permanent-black-70: #00000080;
    --primitives-permanent-chili-red: #da291c;
    --primitives-permanent-delpth-blue: #172D5A;

    --primitives-carbyte-orange-100: #F8AF97;
    --primitives-carbyte-orange-200: #F69D83;
    --primitives-carbyte-orange-300: #F38A70;
    --primitives-carbyte-orange-400: #F0765D;
    --primitives-carbyte-orange-500: #ED634B;
    --primitives-carbyte-orange-600: #E94E39;
    --primitives-carbyte-orange-700: #E53927;
    --primitives-carbyte-orange-800: #DA291C;
    --primitives-carbyte-orange-900: #B92019;
    --primitives-carbyte-orange-1000: #971816;
    --primitives-carbyte-orange-1100: #761314;
    --primitives-carbyte-orange-1200: #560E10;
    --primitives-carbyte-orange-1300: #360A0D;
    --primitives-carbyte-orange-1400: #170406;
    --primitives-carbyte-orange-1500: #000000;

    --primitives-neutral-100: #F2F2F2;
    --primitives-neutral-200: #E8E8E8;
    --primitives-neutral-300: #D9D9D9;
    --primitives-neutral-400: #B6B6B6;
    --primitives-neutral-500: #A3A3A3;
    --primitives-neutral-600: #8F8F8F;
    --primitives-neutral-700: #7B7B7B;
    --primitives-neutral-800: #676767;
    --primitives-neutral-900: #5A5A5A;
    --primitives-neutral-1000: #4D4D4D;
    --primitives-neutral-1100: #404040;
    --primitives-neutral-1200: #343434;
    --primitives-neutral-1300: #272727;
    --primitives-neutral-1400: #1A1A1A;
    --primitives-neutral-1500: #0D0D0D;

    --primitives-red-100: #F2E3E3;
    --primitives-red-200: #EAECEC;
    --primitives-red-300: #E2A9A9;
    --primitives-red-400: #DA9090;
    --primitives-red-500: #D37777;
    --primitives-red-600: #CC5D5D;
    --primitives-red-700: #C54444;
    --primitives-red-800: #B23636;
    --primitives-red-900: #9A3333;
    --primitives-red-1000: #832E2E;
    --primitives-red-1100: #6C2929;
    --primitives-red-1200: #562323;
    --primitives-red-1300: #411D1D;
    --primitives-red-1400: #2D1515;
    --primitives-red-1500: #1A0D0D;

    --primitives-yellow-100: #F2EADA;
    --primitives-yellow-200: #EEDEBE;
    --primitives-yellow-300: #E9CC92;
    --primitives-yellow-400: #E4C280;
    --primitives-yellow-500: #DFB96F;
    --primitives-yellow-600: #D9B05E;
    --primitives-yellow-700: #D3A64D;
    --primitives-yellow-800: #CC9C3D;
    --primitives-yellow-900: #B48835;
    --primitives-yellow-1000: #987431;
    --primitives-yellow-1100: #7C602C;
    --primitives-yellow-1200: #624C26;
    --primitives-yellow-1300: #49391F;
    --primitives-yellow-1400: #312716;
    --primitives-yellow-1500: #1A150D;

    --primitives-green-100: #E6F2EF;
    --primitives-green-200: #CBE1DB;
    --primitives-green-300: #A9D1C6;
    --primitives-green-400: #85C4B3;
    --primitives-green-500: #5FBAA1;
    --primitives-green-600: #41A78C;
    --primitives-green-700: #2F8771;
    --primitives-green-800: #1F6654;
    --primitives-green-900: #1E594B;
    --primitives-green-1000: #1D4D41;
    --primitives-green-1100: #1C4138;
    --primitives-green-1200: #19362F;
    --primitives-green-1300: #162B27;
    --primitives-green-1400: #13211E;
    --primitives-green-1500: #0F1816;

    --primitives-blue-100: #DAE1F2;
    --primitives-blue-200: #BECBE9;
    --primitives-blue-300: #A2B4E0;
    --primitives-blue-400: #859DD7;
    --primitives-blue-500: #6887CF;
    --primitives-blue-600: #4B70C6;
    --primitives-blue-700: #385DB5;
    --primitives-blue-800: #2E4E99;
    --primitives-blue-900: #2B4685;
    --primitives-blue-1000: #283E71;
    --primitives-blue-1100: #24365F;
    --primitives-blue-1200: #1F2D4C;
    --primitives-blue-1300: #1A243B;
    --primitives-blue-1400: #141B2A;
    --primitives-blue-1500: #0D111A;

    /* TEXT COLORS */

    /* primary */
    --figma-text-primary-default: var(--primitives-permanent-black-100);
    --figma-text-primary-weak: var(--primitives-permanent-black-70);
    --figma-text-primary-link: var(--primitives-carbyte-orange-800);

    /* contrast */
    --figma-text-contrast-default: var(--primitives-permanent-white-100);
    --figma-text-contrast-weak: var(--primitives-permanent-white-70);
    --figma-text-contrast-link: var(--primitives-carbyte-orange-700);

    /* FILL COLORS */
    /* background */
    --figma-fill-background-primary: var(--primitives-neutral-100);
    --figma-fill-background-contrast: var(--primitives-neutral-1500);

    /* button */
    --figma-fill-button-primary-default: var(--primitives-blue-800);
    --figma-fill-button-primary-hover: var(--primitives-blue-900);

    --figma-fill-button-secondary-default: var(--primitives-neutral-300);
    --figma-fill-button-secondary-hover: var(--primitives-neutral-400);

    /* card */
    --figma-fill-card-primary-default: var(--primitives-neutral-200);
    --figma-fill-card-primary-hover: var(--primitives-neutral-300);

    /* state */
    --figma-fill-state-success-strong-default: var(--primitives-green-600);
    --figma-fill-state-success-strong-hover: var(--primitives-green-500);

    --figma-fill-state-success-weak-default: var(--primitives-green-100);
    --figma-fill-state-success-weak-hover: var(--primitives-green-200);

    --figma-fill-state-warning-strong-default: var(--primitives-yellow-600);
    --figma-fill-state-warning-strong-hover: var(--primitives-yellow-500);

    --figma-fill-state-warning-weak-default: var(--primitives-yellow-100);
    --figma-fill-state-warning-weak-hover: var(--primitives-yellow-200);

    --figma-fill-state-error-strong-default: var(--primitives-red-600);
    --figma-fill-state-error-strong-hover: var(--primitives-red-500);

    --figma-fill-state-error-weak-default: var(--primitives-red-100);
    --figma-fill-state-error-weak-hover: var(--primitives-red-200);

    --figma-fill-state-info-strong-default: var(--primitives-blue-600);
    --figma-fill-state-info-strong-hover: var(--primitives-blue-500);

    --figma-fill-state-info-weak-default: var(--primitives-blue-100);
    --figma-fill-state-info-weak-hover: var(--primitives-blue-200);

    /* STROKE COLORS */
    /* default */
    --figma-stroke-primary: var(--primitives-neutral-300);
    --figma-stroke-active: var(--primitives-blue-800);

    /* error */
    --figma-stroke-error-strong: var(--primitives-red-800);
    --figma-stroke-error-weak: var(--primitives-red-200);

    /* warning */
    --figma-stroke-warning-strong: var(--primitives-yellow-800);
    --figma-stroke-warning-weak: var(--primitives-yellow-200);

    /* success */
    --figma-stroke-success-strong: var(--primitives-green-800);
    --figma-stroke-success-weak: var(--primitives-green-200);

    /* info */
    --figma-stroke-info-strong: var(--primitives-blue-800);
    --figma-stroke-info-weak: var(--primitives-blue-200);

    /* START OF TO BE DELETED */
    /* START OF TO BE DELETED */
    /* START OF TO BE DELETED */

    /* Background colors */
    --color-background-primary: var(--primitives-neutral-100);

    /* Fill colors */
    --color-fill-contrast-default: var(--primitives-neutral-1500);
    --color-fill-contrast-hover: var(--primitives-neutral-1400);

    --color-fill-error-strong-default: var(--primitives-red-900);
    --color-fill-error-strong-hover: var(--primitives-red-1000);
    --color-fill-error-weak-default: var(--primitives-red-600);
    --color-fill-error-weak-hover: var(--primitives-red-700);

    --color-fill-primary-default: var(--primitives-blue-1500);
    --color-fill-primary-hover: var(--primitives-blue-1300);

    --color-fill-secondary-default: var(--primitives-neutral-400);
    --color-fill-secondary-hover: var(--primitives-neutral-500);

    --color-fill-success-strong-default: var(--primitives-green-900);
    --color-fill-success-strong-hover: var(--primitives-green-1000);
    --color-fill-success-weak-default: var(--primitives-green-500);
    --color-fill-success-weak-hover: var(--primitives-green-600);

    --color-fill-warning-strong-default: var(--primitives-yellow-900);
    --color-fill-warning-strong-hover: var(--primitives-yellow-1000);
    --color-fill-warning-weak-default: var(--primitives-yellow-600);
    --color-fill-warning-weak-hover: var(--primitives-yellow-700);

    /* Stroke colors */
    --color-stroke-active: var(--primitives-blue-1300);
    --color-stroke-primary: var(--primitives-neutral-300);

    --color-stroke-error-strong: var(--primitives-red-1000);
    --color-stroke-error-weak: var(--primitives-red-700);

    --color-stroke-success-strong: var(--primitives-green-1000);
    --color-stroke-success-weak: var(--primitives-green-600);

    --color-stroke-warning-strong: var(--primitives-yellow-1000);
    --color-stroke-warning-weak: var(--primitives-yellow-600);

    /* Surface colors */
    --color-surface-primary-default: var(--primitives-neutral-200);
    --color-surface-primary-hover: var(--primitives-neutral-300);

    /* Text colors */
    --color-text-contrast-strong: var(--primitives-permanent-white-100);
    --color-text-contrast-weak: var(--primitives-permanent-white-70);

    --color-text-primary-strong: var(--primitives-permanent-black-100);
    --color-text-primary-weak: var(--primitives-permanent-black-70);

    --radius: 0.5rem;

    --primitives-permanent-white: #ffffff;
    --primitives-permanent-black: #000000;
    --primitives-permanent-brand: #fe3b1f;

    --primitives-accent-100: #fffefd;
    --primitives-accent-200: #fffcfc;
    --primitives-accent-300: #fff4f4;
    --primitives-accent-400: #ffe7e6;
    --primitives-accent-500: #ffd3d1;
    --primitives-accent-600: #ffb9b6;
    --primitives-accent-700: #fe9690;
    --primitives-accent-800: #fe6357;
    --primitives-accent-900: #f0381d;
    --primitives-accent-1000: #d3311a;
    --primitives-accent-1100: #b42a16;
    --primitives-accent-1200: #922212;
    --primitives-accent-1300: #6f1a0e;
    --primitives-accent-1400: #4a1109;
    --primitives-accent-1500: #260905;

    /* Success Green */
    --primitives-success-100: #f0f1f0;
    --primitives-success-200: #ecedec;
    --primitives-success-300: #e4e5e5;
    --primitives-success-400: #d6d8d8;
    --primitives-success-500: #bfc4c3;
    --primitives-success-600: #9ca5a2;
    --primitives-success-700: #657772;
    --primitives-success-800: #164539;
    --primitives-success-900: #07362b;
    --primitives-success-1000: #052d23;
    --primitives-success-1100: #04241d;
    --primitives-success-1200: #031d17;
    --primitives-success-1300: #021712;
    --primitives-success-1400: #02120f;
    --primitives-success-1500: #02100d;

    /* Error Red */
    --primitives-error-100: #fefcfc;
    --primitives-error-200: #fefcfc;
    --primitives-error-300: #fefafa;
    --primitives-error-400: #fdf4f4;
    --primitives-error-500: #fae6e6;
    --primitives-error-600: #f6cbcb;
    --primitives-error-700: #f0a0a0;
    --primitives-error-800: #e95656;
    --primitives-error-900: #cf1818;
    --primitives-error-1000: #a91414;
    --primitives-error-1100: #841010;
    --primitives-error-1200: #640c0c;
    --primitives-error-1300: #4b0909;
    --primitives-error-1400: #3b0707;
    --primitives-error-1500: #360606;

    /* Warning Yellow */
    --primitives-warning-100: #fffefd;
    --primitives-warning-200: #fffdfc;
    --primitives-warning-300: #fefbf9;
    --primitives-warning-400: #fcf7f2;
    --primitives-warning-500: #faeee4;
    --primitives-warning-600: #f6e0cc;
    --primitives-warning-700: #f1cba5;
    --primitives-warning-800: #eaad63;
    --primitives-warning-900: #ce8d29;
    --primitives-warning-1000: #a8731d;
    --primitives-warning-1100: #855b17;
    --primitives-warning-1200: #674612;
    --primitives-warning-1300: #4f360e;
    --primitives-warning-1400: #3e2a0b;
    --primitives-warning-1500: #35240a;

    /* Primary Colors */
    /* Primary Background */
    --background-primary-strong-default: var(--primitives-neutral-100);
    --background-primary-strong-hover: var(--primitives-neutral-200);
    --background-primary-weak-default: var(--primitives-neutral-200);
    --background-primary-weak-hover: var(--primitives-neutral-300);

    /* Primary Text */
    --text-primary-strong-default: var(--primitives-neutral-1500);
    --text-primary-strong-hover: var(--primitives-neutral-1400);
    --text-primary-weak-default: var(--primitives-neutral-800);
    --text-primary-weak-hover: var(--primitives-neutral-700);

    /* Primary Fill */
    --fill-primary-strong-default: var(--primitives-neutral-400);
    --fill-primary-strong-hover: var(--primitives-neutral-500);
    --fill-primary-weak-default: var(--primitives-neutral-300);
    --fill-primary-weak-hover: var(--primitives-neutral-400);

    /* Primary Stroke */
    --stroke-primary-strong-default: var(--primitives-neutral-500);
    --stroke-primary-strong-hover: var(--primitives-neutral-600);
    --stroke-primary-weak-default: var(--primitives-neutral-300);
    --stroke-primary-weak-hover: var(--primitives-neutral-400);

    /* Inverse Colors */
    /* Inverse Background */
    --background-inverse-strong-default: var(--primitives-neutral-1400);
    --background-inverse-strong-hover: var(--primitives-neutral-1300);
    --background-inverse-weak-default: var(--primitives-neutral-1500);
    --background-inverse-weak-hover: var(--primitives-neutral-1400);

    /* Inverse Text */
    --text-inverse-strong-default: var(--primitives-neutral-100);
    --text-inverse-strong-hover: var(--primitives-neutral-200);
    --text-inverse-weak-default: var(--primitives-neutral-800);
    --text-inverse-weak-hover: var(--primitives-neutral-700);

    /* Inverse Fill */
    --fill-inverse-strong-default: var(--primitives-neutral-1200);
    --fill-inverse-strong-hover: var(--primitives-neutral-1100);
    --fill-inverse-weak-default: var(--primitives-neutral-1300);
    --fill-inverse-weak-hover: var(--primitives-neutral-1200);

    /* Inverse Stroke */
    --stroke-inverse-strong-default: var(--primitives-neutral-1100);
    --stroke-inverse-strong-hover: var(--primitives-neutral-1000);
    --stroke-inverse-weak-default: var(--primitives-neutral-1200);
    --stroke-inverse-weak-hover: var(--primitives-neutral-1100);

    /* Text Success */
    --text-success-strong-default: var(--primitives-success-1200);
    --text-success-strong-hover: var(--primitives-success-1100);
    --text-success-weak-default: var(--primitives-success-500);
    --text-success-weak-hover: var(--primitives-success-600);

    /* Text Warning */
    --text-warning-strong-default: var(--primitives-warning-1100);
    --text-warning-strong-hover: var(--primitives-warning-1000);
    --text-warning-weak-default: var(--primitives-warning-500);
    --text-warning-weak-hover: var(--primitives-warning-600);

    /* Text Error */
    --text-error-strong-default: var(--primitives-error-1100);
    --text-error-strong-hover: var(--primitives-error-1200);
    --text-error-weak-default: var(--primitives-error-500);
    --text-error-weak-hover: var(--primitives-error-600);

    /* Fill Accent */
    --fill-accent-strong-default: var(--primitives-accent-1000);
    --fill-accent-strong-hover: var(--primitives-accent-1100);
    --fill-accent-weak-default: var(--primitives-accent-400);
    --fill-accent-weak-hover: var(--primitives-accent-500);

    /* Fill Error */
    --fill-error-strong-default: var(--primitives-error-1000);
    --fill-error-strong-hover: var(--primitives-error-1100);
    --fill-error-weak-default: var(--primitives-error-500);
    --fill-error-weak-hover: var(--primitives-error-600);

    /* Fill Warning */
    --fill-warning-strong-default: var(--primitives-warning-1000);
    --fill-warning-strong-hover: var(--primitives-warning-1100);
    --fill-warning-weak-default: var(--primitives-warning-500);
    --fill-warning-weak-hover: var(--primitives-warning-600);

    /* Fill Success */
    --fill-success-strong-default: var(--primitives-success-1000);
    --fill-success-strong-hover: var(--primitives-success-1100);
    --fill-success-weak-default: var(--primitives-success-500);
    --fill-success-weak-hover: var(--primitives-success-600);

    /* Stroke Error */
    --stroke-error-strong-default: var(--primitives-error-600);
    --stroke-error-strong-hover: var(--primitives-error-700);
    --stroke-error-weak-default: var(--primitives-error-900);
    --stroke-error-weak-hover: var(--primitives-error-1000);

    /* Stroke Warning */
    --stroke-warning-strong-default: var(--primitives-warning-600);
    --stroke-warning-strong-hover: var(--primitives-warning-700);
    --stroke-warning-weak-default: var(--primitives-warning-900);
    --stroke-warning-weak-hover: var(--primitives-warning-1000);

    /* Stroke Success */
    --stroke-success-strong-default: var(--primitives-success-600);
    --stroke-success-strong-hover: var(--primitives-success-700);
    --stroke-success-weak-default: var(--primitives-success-900);
    --stroke-success-weak-hover: var(--primitives-success-1000);

    /* Stroke Active */
    --stroke-active-strong-default: var(--primitives-accent-600);
    --stroke-active-strong-hover: var(--primitives-accent-700);
    --stroke-active-weak-default: var(--primitives-accent-900);
    --stroke-active-weak-hover: var(--primitives-accent-1000);

    /* END OF TO BE DELETED */
    /* END OF TO BE DELETED */
    /* END OF TO BE DELETED */

    /* Collection: border radius */
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 16px;
    --border-radius-xl: 32px;

    /* Collection: padding */
    --padding-xs: 1px;
    --padding-sm: 2px;
    --padding-md: 4px;
    --padding-lg: 8px;
    --padding-xl: 12px;
    --padding-2xl: 16px;
    --padding-3xl: 24px;
    --padding-4xl: 32px;

    /* Collection: height/width */
    --height-sm: 32px;
    --height-md: 40px;
    --height-lg: 48px;

    /* Collection: Fonts */

    --font-family: 'Manrope', 'Inter', sans-serif;
    --size-xs: 10px;
    --size-sm: 12px;
    --size-md: 14px;
    --size-lg: 16px;
    --size-xl: 24px;
    --size-2xl: 30px;
    --line-height-100-xs: 12px;
    --line-height-100-sm: 14px;
    --line-height-100-md: 16px;
    --line-height-100-lg: 20px;
    --line-height-100-xl: 24px;
    --line-height-100-2xl: 30px;
    --line-height-140-xs: 16.8px;
    --line-height-140-sm: 19.6px;
    --line-height-140-md: 22.4px;
    --line-height-140-lg: 28px;
    --line-height-140-xl: 33.6px;
    --line-height-140-2xl: 42px;
    --letter-spacing: 0px;
    --weight-1: 600;
    /* Semibold */
    --weight-2: 700;
    /* Bold */
    --weight-3: 800;
    /* Black */

    /* Collection: spacing */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
  }

  .dark {
    /* Colors 2025 */
    --primitives-permanent-white-100: #ffffff;
    --primitives-permanent-white-70: #ffffff80;
    --primitives-permanent-black-100: #000000;
    --primitives-permanent-black-70: #00000080;
    --primitives-permanent-chili-red: #da291c;
    --primitives-permanent-delpth-blue: #172D5A;

    --primitives-orange-100: #230707;
    --primitives-orange-200: #3C0B0F;
    --primitives-orange-300: #560F13;
    --primitives-orange-400: #701215;
    --primitives-orange-500: #891516;
    --primitives-orange-600: #A41B18;
    --primitives-orange-700: #BF211A;
    --primitives-orange-800: #DA291C;
    --primitives-orange-900: #E74433;
    --primitives-orange-1000: #EC6553;
    --primitives-orange-1100: #F18472;
    --primitives-orange-1200: #F5A393;
    --primitives-orange-1300: #F9C1B3;
    --primitives-orange-1400: #FBD2C6;
    --primitives-orange-1500: #FCDED5;

    --primitives-neutral-100: #0D0D0D;
    --primitives-neutral-200: #1A1A1A;
    --primitives-neutral-300: #272727;
    --primitives-neutral-400: #343434;
    --primitives-neutral-500: #404040;
    --primitives-neutral-600: #4D4D4D;
    --primitives-neutral-700: #5A5A5A;
    --primitives-neutral-800: #676767;
    --primitives-neutral-900: #7B7B7B;
    --primitives-neutral-1000: #8F8F8F;
    --primitives-neutral-1100: #A3A3A3;
    --primitives-neutral-1200: #B6B6B6;
    --primitives-neutral-1300: #D9D9D9;
    --primitives-neutral-1400: #E8E8E8;
    --primitives-neutral-1500: #F2F2F2;

    --primitives-red-100: #1A0D0D;
    --primitives-red-200: #2D1515;
    --primitives-red-300: #411D1D;
    --primitives-red-400: #562323;
    --primitives-red-500: #6C2929;
    --primitives-red-600: #832E2E;
    --primitives-red-700: #9A3333;
    --primitives-red-800: #B23636;
    --primitives-red-900: #C54444;
    --primitives-red-1000: #CC5D5D;
    --primitives-red-1100: #D37777;
    --primitives-red-1200: #DA9090;
    --primitives-red-1300: #E2A9A9;
    --primitives-red-1400: #EAECEC;
    --primitives-red-1500: #F2E3E3;

    --primitives-yellow-100: #1A150D;
    --primitives-yellow-200: #312716;
    --primitives-yellow-300: #49391F;
    --primitives-yellow-400: #624C26;
    --primitives-yellow-500: #7C602C;
    --primitives-yellow-600: #987431;
    --primitives-yellow-700: #B48835;
    --primitives-yellow-800: #CC9C3D;
    --primitives-yellow-900: #D3A64D;
    --primitives-yellow-1000: #D9B05E;
    --primitives-yellow-1100: #DFB96F;
    --primitives-yellow-1200: #E4C280;
    --primitives-yellow-1300: #E9CC92;
    --primitives-yellow-1400: #EEDEBE;
    --primitives-yellow-1500: #F2EADA;

    --primitives-green-100: #0F1816;
    --primitives-green-200: #13211E;
    --primitives-green-300: #162B27;
    --primitives-green-400: #19362F;
    --primitives-green-500: #1C4138;
    --primitives-green-600: #1D4D41;
    --primitives-green-700: #1E594B;
    --primitives-green-800: #1F6654;
    --primitives-green-900: #2F8771;
    --primitives-green-1000: #41A78C;
    --primitives-green-1100: #5FBAA1;
    --primitives-green-1200: #85C4B3;
    --primitives-green-1300: #A9D1C6;
    --primitives-green-1400: #CBE1DB;
    --primitives-green-1500: #E6F2EF;

    --primitives-blue-100: #0D111A;
    --primitives-blue-200: #141B2A;
    --primitives-blue-300: #1A243B;
    --primitives-blue-400: #1F2D4C;
    --primitives-blue-500: #24365F;
    --primitives-blue-600: #283E71;
    --primitives-blue-700: #2B4685;
    --primitives-blue-800: #2E4E99;
    --primitives-blue-900: #385DB5;
    --primitives-blue-1000: #4B70C6;
    --primitives-blue-1100: #6887CF;
    --primitives-blue-1200: #859DD7;
    --primitives-blue-1300: #A2B4E0;
    --primitives-blue-1400: #BECBE9;
    --primitives-blue-1500: #DAE1F2;

    /* TEXT COLORS */

    /* primary */
    --figma-text-primary-default: var(--primitives-permanent-white-100);
    --figma-text-primary-weak: var(--primitives-permanent-white-70);
    --figma-text-primary-link: var(--primitives-carbyte-orange-800);

    /* contrast */
    --figma-text-contrast-default: var(--primitives-permanent-black-100);
    --figma-text-contrast-weak: var(--primitives-permanent-black-70);
    --figma-text-contrast-link: var(--primitives-carbyte-orange-700);

    /* FILL COLORS */
    /* background */
    --figma-fill-background-primary: var(--primitives-neutral-100);
    --figma-fill-background-contrast: var(--primitives-neutral-1500);

    /* button */
    --figma-fill-button-primary-default: var(--primitives-blue-800);
    --figma-fill-button-primary-hover: var(--primitives-blue-700);

    --figma-fill-button-secondary-default: var(--primitives-neutral-300);
    --figma-fill-button-secondary-hover: var(--primitives-neutral-400);

    /* card */
    --figma-fill-card-primary-default: var(--primitives-neutral-200);
    --figma-fill-card-primary-hover: var(--primitives-neutral-300);

    /* state */
    --figma-fill-state-success-strong-default: var(--primitives-green-600);
    --figma-fill-state-success-strong-hover: var(--primitives-green-500);

    --figma-fill-state-success-weak-default: var(--primitives-green-300);
    --figma-fill-state-success-weak-hover: var(--primitives-green-400);

    --figma-fill-state-warning-strong-default: var(--primitives-yellow-600);
    --figma-fill-state-warning-strong-hover: var(--primitives-yellow-500);

    --figma-fill-state-warning-weak-default: var(--primitives-yellow-300);
    --figma-fill-state-warning-weak-hover: var(--primitives-yellow-400);

    --figma-fill-state-error-strong-default: var(--primitives-red-600);
    --figma-fill-state-error-strong-hover: var(--primitives-red-500);

    --figma-fill-state-error-weak-default: var(--primitives-red-300);
    --figma-fill-state-error-weak-hover: var(--primitives-red-400);

    --figma-fill-state-info-strong-default: var(--primitives-blue-600);
    --figma-fill-state-info-strong-hover: var(--primitives-blue-500);

    --figma-fill-state-info-weak-default: var(--primitives-blue-300);
    --figma-fill-state-info-weak-hover: var(--primitives-blue-400);

    /* STROKE COLORS */
    /* default */
    --figma-stroke-primary: var(--primitives-neutral-300);
    --figma-stroke-active: var(--primitives-blue-800);

    /* error */
    --figma-stroke-error-strong: var(--primitives-red-800);
    --figma-stroke-error-weak: var(--primitives-red-400);

    /* warning */
    --figma-stroke-warning-strong: var(--primitives-yellow-800);
    --figma-stroke-warning-weak: var(--primitives-yellow-400);

    /* success */
    --figma-stroke-success-strong: var(--primitives-green-800);
    --figma-stroke-success-weak: var(--primitives-green-400);

    /* INFO */
    --figma-stroke-info-strong: var(--primitives-blue-800);
    --figma-stroke-info-weak: var(--primitives-blue-400);

    /* START OF TO BE DELETED */
    /* START OF TO BE DELETED */
    /* START OF TO BE DELETED */

    /* Background colors */
    --color-background-primary: var(--primitives-neutral-100);

    /* Fill colors */
    --color-fill-contrast-default: var(--primitives-neutral-1500);
    --color-fill-contrast-hover: var(--primitives-neutral-1400);

    --color-fill-error-strong-default: var(--primitives-red-500);
    --color-fill-error-strong-hover: var(--primitives-red-600);
    --color-fill-error-weak-default: var(--primitives-red-300);
    --color-fill-error-weak-hover: var(--primitives-red-400);

    --color-fill-primary-default: var(--primitives-blue-700);
    --color-fill-primary-hover: var(--primitives-blue-900);

    --color-fill-secondary-default: var(--primitives-neutral-400);
    --color-fill-secondary-hover: var(--primitives-neutral-500);

    --color-fill-success-strong-default: var(--primitives-green-700);
    --color-fill-success-strong-hover: var(--primitives-green-800);
    --color-fill-success-weak-default: var(--primitives-green-400);
    --color-fill-success-weak-hover: var(--primitives-green-500);

    --color-fill-warning-strong-default: var(--primitives-yellow-600);
    --color-fill-warning-strong-hover: var(--primitives-yellow-700);
    --color-fill-warning-weak-default: var(--primitives-yellow-300);
    --color-fill-warning-weak-hover: var(--primitives-yellow-400);

    /* Stroke colors */
    --color-stroke-active: var(--primitives-blue-500);

    --color-stroke-primary: var(--primitives-neutral-300);

    --color-stroke-error-strong: var(--primitives-red-700);
    --color-stroke-error-weak: var(--primitives-red-400);

    --color-stroke-success-strong: var(--primitives-green-800);
    --color-stroke-success-weak: var(--primitives-green-600);
    --color-stroke-warning-strong: var(--primitives-yellow-700);
    --color-stroke-warning-weak: var(--primitives-yellow-500);

    /* Surface colors */
    --color-surface-primary-default: var(--primitives-neutral-200);
    --color-surface-primary-hover: var(--primitives-neutral-300);

    /* Text colors */
    --color-text-contrast-strong: var(--primitives-permanent-black-100);
    --color-text-contrast-weak: var(--primitives-permanent-black-70);

    --color-text-primary-strong: var(--primitives-permanent-white-100);
    --color-text-primary-weak: var(--primitives-permanent-white-70);

    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    /* Figma colors */
    /* Primitive Colors */

    --primitives-accent-100: #260905;
    --primitives-accent-200: #4a1109;
    --primitives-accent-300: #6f1a0e;
    --primitives-accent-400: #922212;
    --primitives-accent-500: #b42a16;
    --primitives-accent-600: #d3311a;
    --primitives-accent-700: #f0381d;
    --primitives-accent-800: #fe6357;
    --primitives-accent-900: #fe9690;
    --primitives-accent-1000: #ffb9b6;
    --primitives-accent-1100: #ffd3d1;
    --primitives-accent-1200: #ffe7e6;
    --primitives-accent-1300: #fff4f4;
    --primitives-accent-1400: #fffcfc;
    --primitives-accent-1500: #fffefd;

    /* Success Green */
    --primitives-success-100: #02100d;
    --primitives-success-200: #02120f;
    --primitives-success-300: #021712;
    --primitives-success-400: #031d17;
    --primitives-success-500: #04241d;
    --primitives-success-600: #052d23;
    --primitives-success-700: #07362b;
    --primitives-success-800: #164539;
    --primitives-success-900: #657772;
    --primitives-success-1000: #9ca5a2;
    --primitives-success-1100: #bfc4c3;
    --primitives-success-1200: #d6d8d8;
    --primitives-success-1300: #e4e5e5;
    --primitives-success-1400: #ecedec;
    --primitives-success-1500: #f0f1f0;

    /* Error Red */
    --primitives-error-100: #360606;
    --primitives-error-200: #3b0707;
    --primitives-error-300: #4b0909;
    --primitives-error-400: #640c0c;
    --primitives-error-500: #841010;
    --primitives-error-600: #a91414;
    --primitives-error-700: #cf1818;
    --primitives-error-800: #e95656;
    --primitives-error-900: #f0a0a0;
    --primitives-error-1000: #f6cbcb;
    --primitives-error-1100: #fae6e6;
    --primitives-error-1200: #fdf4f4;
    --primitives-error-1300: #fefafa;
    --primitives-error-1400: #fefcfc;
    --primitives-error-1500: #fefcfc;

    /* Warning Yellow */
    --primitives-warning-100: #35240a;
    --primitives-warning-200: #3e2a0b;
    --primitives-warning-300: #4f360e;
    --primitives-warning-400: #674612;
    --primitives-warning-500: #855b17;
    --primitives-warning-600: #a8731d;
    --primitives-warning-700: #ce8d29;
    --primitives-warning-800: #eaad63;
    --primitives-warning-900: #f1cba5;
    --primitives-warning-1000: #f6e0cc;
    --primitives-warning-1100: #faeee4;
    --primitives-warning-1200: #fcf7f2;
    --primitives-warning-1300: #fefbf9;
    --primitives-warning-1400: #fffdfc;
    --primitives-warning-1500: #fffefd;

    /* END OF TO BE DELETED */
    /* END OF TO BE DELETED */
    /* END OF TO BE DELETED */

  }
}

@layer base {
  * {
    @apply border-stroke-primary;
  }

  body {
    @apply bg-background-primary text-text-primary;
  }
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}